body {
    margin: 0;
}

.cover {
    background-color: skyblue;
    height: 100vh;
    display: table;
    width: 100%;
}

.cover-inner {
    background-color: orange;
    display: table-cell;
    /* tr은 생략가능 */
    /* 테이블은 부모요소의 높이가 달라져도 자식도 높이가 같이 달라짐  */
    vertical-align: middle;
    text-align: center;
}

.box {
    background-color: deepskyblue;
    width: 300px;
    margin: 0 auto;
}